<div class="card pt-4">
	<img src="./assets/images/avator/2.jpg" class="img-fluid my-avatar rounded-circle align-self-center">
	<div class="card-body">
		<div class="card-title text-center">
			BUILD OUR CIVE
		</div>

		<div class="card-text text-center">
			Welcome to College of Informatics and Virtual Education
		</div>
	</div>
</div>

<div class="card yz">
	<div class="card-body">
		<div class="card-text">
			<div class="mv">
				<h6 class="abd">About <small>
					<a href="#">Edit</a></small>
				</h6>
				<div class="card-title">
					College of Informatics and Virtual Education established 2010
				</div>
			</div>
		</div>
	</div>
</div>

<div class="card yz">
	<div class="card">
		<div class="card-body">

			<div class="mv">
				<h6 class="abd">Photos <small>
					<a href="#">Edit</a></small>
				</h6>
				<div data-grid="images" data-target-height="150">
					<div>
						<img data-width="640" data-height="640" data-action="zoom" src="./assets/images/avator/3.jpg" class="img-fluid align-self-center">
					</div>
					<br>

					<div>
						<img data-width="640" data-height="640" data-action="zoom" src="./assets/images/avator/4.jpg" class="img-fluid align-self-center">
					</div>
					<br>

					<div>
						<img data-width="640" data-height="640" data-action="zoom" src="./assets/images/avator/5.jpg" class="img-fluid  align-self-center">
					</div>
					<br>

					<div>
						<img data-width="640" data-height="640" data-action="zoom" src="./assets/images/avator/6.jpg" class="img-fluid align-self-center">
					</div>
					<br>

					<div>
						<img data-width="640" data-height="640" data-action="zoom" src="./assets/images/avator/7.jpg" class="img-fluid align-self-center">
					</div>
					<br>

					<div>
						<img data-width="640" data-height="640" data-action="zoom" src="./assets/images/avator/8.jpg" class="img-fluid  align-self-center">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

